Repository PennyLaneAI/pennylane, pull requests merged in 2019-08, with the labels that each got.

#279 Refactor test_device.py to pytest
  tests/test_device.py
Labels: review-ready, tests

#283 Adds `Device.parameters` so that devices can access free parameter mappings
  pennylane/_device.py
  pennylane/about.py
  pennylane/qnode.py
  tests/test_about.py
  tests/test_configuration.py
  tests/test_device.py
Labels: plugins, review-ready

#281 Refactor test_qnode.py
  tests/conftest.py
  tests/test_device.py
  tests/test_qnode.py
Labels: review-ready, tests

#288 Update Travis to test against PyTorch 1.2
  .travis.yml
Labels: tests

#292 Implemented Pauli matrix exponentiation without expm
  .github/CHANGELOG.md
  pennylane/plugins/default_qubit.py
Labels: plugins

#162 Jacobian allow list argnum
  pennylane/__init__.py
  tests/test_qnode.py
Labels: merge-ready, review

#258 Fix for Issue #250
  .github/CHANGELOG.md
  pennylane/templates/layers.py
  tests/test_templates_layers.py
Labels: review-ready, templates

#285 Refactor test_default_qubit.py
  tests/test_default_qubit.py
Labels: review-ready, tests

#290 Added enumerations to represent Observable return types #280
  .github/CHANGELOG.md
  doc/API/overview.rst
  pennylane/_device.py
  pennylane/measure.py
  pennylane/operation.py
  pennylane/qnode.py
  tests/test_device.py
  tests/test_measure.py
  tests/test_operation.py
Labels: core, merge-ready

#295 Add quantum geometric tensor optimizer
  .pylintrc
  pennylane/_device.py
  pennylane/decorator.py
  pennylane/operation.py
  pennylane/ops/cv.py
  pennylane/ops/qubit.py
  pennylane/optimize/__init__.py
  pennylane/optimize/gradient_descent.py
  pennylane/optimize/qgt.py
  pennylane/plugins/default_qubit.py
  pennylane/qnode.py
  pennylane/utils.py
  requirements.txt
  setup.py
  tests/test_decorator.py
  tests/test_measure.py
  tests/test_optimize_qgt.py
  tests/test_qnode.py
  tests/test_utils.py
Labels: autodiff, core, review-ready
