Repository PennyLaneAI/pennylane, pull requests merged in 2019-07, with the labels that each got.

#251 Controlled Rotation gates added
  pennylane/ops/qubit.py
  pennylane/plugins/default_qubit.py
  tests/test_default_qubit.py
  tests/test_qnode.py
Labels: autodiff, core, plugins

#263 Refactor test_configuration.py
  tests/test_configuration.py
Labels: backlog, review-ready, tests

#264 Fix test_classical_gradients.py
  tests/test_classical_gradients.py
Labels: backlog, review-ready, tests

#266 Refactor test_tfe.py
  tests/conftest.py
  tests/test_tfe.py
Labels: backlog, review-ready, tests

#253 Clarify gradient recipe documentation and fix incorrect gradient recipes
  doc/API/overview.rst
  pennylane/ops/cv.py
  pennylane/ops/qubit.py
Labels: documentation, review-ready

#265 Refactor test_torch.py
  tests/conftest.py
  tests/test_torch.py
Labels: backlog, review-ready, tests

#254 Observable name refactor
  .github/CHANGELOG.md
  doc/API/overview.rst
  doc/code/templates.rst
  doc/tutorials/gaussian_transformation.rst
  doc/tutorials/plugins_hybrid.rst
  examples/CV1_photon-redirection.ipynb
  examples/CV1_photon-redirection.py
  examples/CV2_quantum-neural-net.py
  pennylane/decorator.py
  pennylane/ops/cv.py
  pennylane/plugins/default_gaussian.py
  tests/test_default_gaussian.py
  tests/test_qnode.py
  tests/test_quantum_gradients.py
  tests/test_templates_embeddings.py
  tests/test_templates_layers.py
Labels: CV, interface

#256 Introduce qml.sample to sample from an observable
  .github/CHANGELOG.md
  doc/API/overview.rst
  doc/code/templates.rst
  doc/tutorials/gaussian_transformation.rst
  doc/tutorials/plugins_hybrid.rst
  examples/CV1_photon-redirection.ipynb
  examples/CV1_photon-redirection.py
  examples/CV2_quantum-neural-net.py
  pennylane/__init__.py
  pennylane/_device.py
  pennylane/decorator.py
  pennylane/measure.py
  pennylane/ops/cv.py
  pennylane/plugins/default_gaussian.py
  pennylane/plugins/default_qubit.py
  pennylane/qnode.py
  tests/test_default_gaussian.py
  tests/test_default_qubit.py
  tests/test_device.py
  tests/test_measure.py
  tests/test_qnode.py
  tests/test_quantum_gradients.py
  tests/test_templates_embeddings.py
  tests/test_templates_layers.py
Labels: core, enhancement, review-ready

#269 Fixes to QubitUnitary and QubitStateVector operations
  pennylane/ops/qubit.py
  pennylane/plugins/default_qubit.py
  tests/test_default_qubit.py
Labels: documentation

#276 Replace device supported with separate methods for operations and observables
  .github/CHANGELOG.md
  doc/API/overview.rst
  pennylane/_device.py
  tests/test_default_gaussian.py
  tests/test_default_qubit.py
  tests/test_device.py
Labels: core, review-ready

#275 Adding padding option to amplitude embedding function
  pennylane/templates/embeddings.py
  tests/test_templates_embeddings.py
Labels: enhancement, templates
