Repository PennyLaneAI/pennylane, pull requests merged in 2020-07, with the labels that each got.

#707 Allow interface functions to convert QNodes with pre-existing interfaces
  .github/CHANGELOG.md
  pennylane/interfaces/autograd.py
  pennylane/interfaces/tf.py
  pennylane/interfaces/torch.py
  tests/interfaces/test_autograd.py
  tests/interfaces/test_tf.py
  tests/interfaces/test_torch.py
Labels: bug :bug:, interface :electric_plug:

#698 Implement the particle number observable in PennyLane-QChem
  qchem/CHANGELOG.md
  qchem/pennylane_qchem/qchem/obs.py
  qchem/tests/test_particle_number_obs.py
Labels: qchem :atom_symbol:, review-ready :ok_hand:

#714 Refactor implementation of the total spin observable S2
  qchem/CHANGELOG.md
  qchem/pennylane_qchem/qchem/obs.py
  qchem/tests/test_s2_obs.py
Labels: qchem :atom_symbol:, review-ready :ok_hand:

#711 Refactor implementation of the Sz observable
  qchem/CHANGELOG.md
  qchem/pennylane_qchem/qchem/obs.py
  qchem/tests/test_sz_obs.py
Labels: qchem :atom_symbol:, review-ready :ok_hand:

#719 Renaming Operator.params to Operator.data
  pennylane/beta/plugins/default_tensor_tf.py
  pennylane/circuit_drawer/representation_resolver.py
  pennylane/circuit_graph.py
  pennylane/operation.py
  pennylane/qnodes/base.py
  pennylane/qnodes/cv.py
  pennylane/qnodes/qubit.py
  pennylane/qnodes/rev.py
  tests/ops/test_qubit_ops.py
  tests/qnodes/test_qnode_metric_tensor.py
  tests/templates/test_decorator.py
  tests/templates/test_state_preparations.py
  tests/templates/test_subroutines.py
  tests/test_operation.py
  tests/test_utils.py
Labels: bug :bug:, review-ready :ok_hand:

#716 Fix allclose() test in test_qnn_torch
  tests/qnn/test_qnn_torch.py
Labels: bug :bug:, merge-ready :heavy_check_mark:, review-ready :ok_hand:

#725 Adds support for TF 2.3 and Torch 1.6
  .github/CHANGELOG.md
  .github/workflows/tests.yml
  tests/interfaces/test_tf.py
Labels: review-ready :ok_hand:

#721 Adds default.qubit.autograd qubit simulator for use with the PassthruQNode
  .coveragerc
  .github/CHANGELOG.md
  .github/workflows/tests.yml
  Makefile
  codecov.yml
  pennylane/__init__.py
  pennylane/_qubit_device.py
  pennylane/collections/qnode_collection.py
  pennylane/numpy/tensor.py
  pennylane/plugins/__init__.py
  pennylane/plugins/autograd_ops.py
  pennylane/plugins/default_qubit_autograd.py
  pennylane/plugins/default_qubit_tf.py
  pennylane/plugins/tests/test_measurements.py
  setup.py
  tests/circuit_graph/test_circuit_graph_hash.py
  tests/collections/test_collections.py
  tests/ops/test_qubit_ops.py
  tests/plugins/test_default_qubit_autograd.py
  tests/test_classical_gradients.py
  tests/test_qubit_device.py
Labels: plugins :computer:, review-ready :ok_hand:

#730 Leftover consecutive wires assumption in map and Tensor.prune
  pennylane/collections/map.py
  pennylane/operation.py
  pennylane/utils.py
Labels: bug :bug:
