Repository PennyLaneAI/pennylane, pull requests merged in 2020-04, with the labels that each got.

#564 Add developer instructions for new templates
  .github/CHANGELOG.md
  doc/code/qml_templates.rst
  doc/development/adding_templates.rst
  doc/development/guide.rst
  doc/introduction/templates.rst
  pennylane/templates/utils.py
  tests/test_templates.py
Labels: documentation, review-ready, templates

#566 Refactor template utils function to be public
  pennylane/templates/broadcast.py
  pennylane/templates/embeddings/amplitude.py
  pennylane/templates/embeddings/angle.py
  pennylane/templates/embeddings/basis.py
  pennylane/templates/embeddings/displacement.py
  pennylane/templates/embeddings/qaoa.py
  pennylane/templates/embeddings/squeezing.py
  pennylane/templates/layers/basic_entangler.py
  pennylane/templates/layers/cv_neural_net.py
  pennylane/templates/layers/random.py
  pennylane/templates/layers/simplified_two_design.py
  pennylane/templates/layers/strongly_entangling.py
  pennylane/templates/state_preparations/basis.py
  pennylane/templates/state_preparations/mottonen.py
  pennylane/templates/subroutines/interferometer.py
  pennylane/templates/utils.py
  tests/test_templates_utils.py
Labels: templates

#559 Add PauliRot and MultiRZ gates
  .github/CHANGELOG.md
  pennylane/circuit_drawer/representation_resolver.py
  pennylane/operation.py
  pennylane/ops/qubit.py
  pennylane/plugins/default_qubit.py
  pennylane/utils.py
  tests/circuit_drawer/test_representation_resolver.py
  tests/ops/test_qubit_ops.py
  tests/test_default_qubit.py
  tests/test_operation.py
  tests/test_utils.py
Labels: core, enhancement, review-ready

#529 Add Keras layers support
  .github/CHANGELOG.md
  doc/code/qml_qnn.rst
  doc/index.rst
  pennylane/__init__.py
  pennylane/interfaces/tf.py
  pennylane/interfaces/torch.py
  pennylane/qnn/__init__.py
  pennylane/qnn/keras.py
  tests/qnn/test_keras.py
Labels: enhancement, review-ready

#570 Speed up KerasLayer tests
  tests/qnn/test_keras.py
Labels: review-ready, tests

#563 Add support for non-analytic return for DefaultQubit.probability
  .github/CHANGELOG.md
  pennylane/_qubit_device.py
  pennylane/plugins/default_qubit.py
  tests/conftest.py
  tests/test_default_qubit.py
Labels: bug, plugins, review-ready

#576 Unset attribute in test
  tests/qnodes/test_qnode_decorator.py
Labels: bug, tests

#578 Move template tests
  tests/templates/test_broadcast.py
  tests/templates/test_decorator.py
  tests/templates/test_embeddings.py
  tests/templates/test_integration.py
  tests/templates/test_layers.py
  tests/templates/test_state_preparations.py
  tests/templates/test_subroutines.py
  tests/templates/test_templ_utils.py
Labels: tests

#573 Modify QubitDevice to support estimating probability
  .github/CHANGELOG.md
  doc/development/plugins.rst
  pennylane/_qubit_device.py
  pennylane/plugins/default_qubit.py
  tests/conftest.py
  tests/test_default_qubit.py
Labels: bug, plugins

#572 Updating default.tensor to use disentangled networks
  .github/CHANGELOG.md
  doc/requirements.txt
  pennylane/_qubit_device.py
  pennylane/beta/plugins/default_tensor.py
  pennylane/beta/plugins/default_tensor_tf.py
  pennylane/beta/plugins/numpy_ops.py
  tests/beta/test_default_tensor.py
Labels: WIP, plugins

#586 Update broken documentation links
  README.rst
  doc/index.rst
  doc/introduction/interfaces/tf.rst
Labels: bug, documentation, review-ready

#585 Kwargs in qml.map and VQECost (example of passing step size)
  pennylane/collections/map.py
  pennylane/vqe/vqe.py
  tests/collections/test_collections.py
  tests/test_vqe.py
Labels: collections, merge-ready

#583 Improve template integration tests
  pennylane/templates/embeddings/basis.py
  tests/templates/test_embeddings.py
  tests/templates/test_integration.py
Labels: review-ready, templates, tests

#587 Expose the finite difference order when creating a QNode
  .github/CHANGELOG.md
  pennylane/qnodes/decorator.py
  pennylane/qnodes/jacobian.py
  tests/collections/test_collections.py
  tests/qnodes/test_qnode_decorator.py
  tests/qnodes/test_qnode_jacobian.py
  tests/test_vqe.py
Labels: review-ready

#594 Fix estimate prob
  .github/CHANGELOG.md
  doc/development/plugins.rst
  pennylane/_qubit_device.py
  tests/test_prob.py
Labels: bug, plugins, review-ready

#584 Add MPS representation
  pennylane/beta/plugins/default_tensor.py
  pennylane/beta/plugins/default_tensor_tf.py
  requirements.txt
  tests/beta/test_default_tensor.py
  tests/conftest.py
Labels: plugins

#603 Add custom pattern to ``broadcast``
  .github/CHANGELOG.md
  doc/_static/templates/broadcast_custom.png
  doc/code/qml_templates.rst
  doc/introduction/templates.rst
  pennylane/templates/broadcast.py
  tests/templates/test_broadcast.py
Labels: templates

#604 Add function 'sd_excitations' to 'qchem' module
  qchem/pennylane_qchem/qchem.py
  qchem/tests/test_sd_excitations.py
Labels: review-ready

#606 Add edge cases to initialization function checks
  pennylane/init.py
  tests/test_init.py
Labels: tests
