Repository PennyLaneAI/pennylane, pull requests merged in 2022-04, with the labels that each got.

#2372 Extend the qchem basis set repo
  doc/releases/changelog-dev.md
  qchem/pennylane_qchem/qchem/basis_data.py
  qchem/pennylane_qchem/qchem/basis_set.py
  qchem/pennylane_qchem/qchem/molecule.py
  qchem/tests/hf_tests/test_basis_set.py
  qchem/tests/hf_tests/test_hartree_fock.py
  qchem/tests/hf_tests/test_molecule.py
Labels: qchem :atom_symbol:

#2415 Remove openbabel dependency in qchem
  .github/workflows/tests.yml
  doc/development/guide/installation.rst
  doc/introduction/chemistry.rst
  doc/releases/changelog-dev.md
  docker/qchem.dockerfile
  qchem/README.rst
  qchem/install-dependencies.sh
  qchem/pennylane_qchem/qchem/__init__.py
  qchem/pennylane_qchem/qchem/openfermion_obs.py
  qchem/pennylane_qchem/qchem/structure.py
  qchem/tests/qchem_tests/conftest.py
  qchem/tests/qchem_tests/test_molecular_hamiltonian.py
  qchem/tests/qchem_tests/test_read_structure.py
  qchem/tests/qchem_tests/test_ref_files/gdb3.mol5.PDB
  qchem/tests/qchem_tests/test_ref_files/gdb3.mol5.XYZ
  qchem/tests/qchem_tests/test_ref_files/h2.SDF
Labels: qchem :atom_symbol:

#2442 Fix bug where `qml.PauliRot.generator()` was not taking into account wires
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/parametric_ops.py
  tests/ops/qubit/test_parametric_ops.py
  tests/templates/test_state_preparations/test_arbitrary_state_prep.py
  tests/templates/test_subroutines/test_arbitrary_unitary.py
Labels: bug :bug:, review-ready :ok_hand:

#2445 Add support for JIT when using `DiagonalQubitUnitary`
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/matrix_ops.py
  tests/ops/qubit/test_matrix_ops.py
Labels: bug :bug:, review-ready :ok_hand:

#2352 Generalize molecular hamiltonian function
  doc/releases/changelog-dev.md
  pennylane/qchem/__init__.py
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/openfermion_obs.py
  tests/qchem/hf_tests/test_hamiltonians.py
  tests/qchem/of_tests/test_active_space.py
  tests/qchem/of_tests/test_convert.py
  tests/qchem/of_tests/test_decompose.py
  tests/qchem/of_tests/test_deriv_hamilt.py
  tests/qchem/of_tests/test_dipole_of.py
  tests/qchem/of_tests/test_meanfield.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
  tests/qchem/of_tests/test_observable_of.py
  tests/qchem/of_tests/test_one_particle.py
  tests/qchem/of_tests/test_two_particle.py
Labels: qchem :atom_symbol:

#2364 Hilbert Schmidt templates
  doc/_static/templates/subroutines/hst.pdf
  doc/_static/templates/subroutines/hst.png
  doc/_static/templates/subroutines/lhst.png
  doc/introduction/templates.rst
  doc/releases/changelog-dev.md
  pennylane/optimize/nesterov_momentum.py
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/hilbert_schmidt.py
  tests/templates/test_subroutines/test_hilbert_schmidt.py
Labels: review-ready :ok_hand:

#2426 Modify UI for qubit tapering functions
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/qchem/__init__.py
  pennylane/qchem/tapering.py
  tests/qchem/hf_tests/test_tapering.py
Labels: qchem :atom_symbol:

#2466 Bugfix for Nesterov Momentum Optimier
  doc/releases/changelog-0.23.0.md
  pennylane/optimize/nesterov_momentum.py
  tests/optimize/test_optimize.py
Labels: bug :bug:

#2454 Update qchem documentation
  doc/code/qml_hf.rst
  doc/code/qml_qchem.rst
  doc/development/guide/installation.rst
  doc/introduction/chemistry.rst
  doc/releases/changelog-0.23.0.md
  pennylane/hf/hamiltonian.py
  pennylane/hf/hartree_fock.py
  pennylane/hf/integrals.py
  pennylane/hf/matrices.py
  pennylane/qchem/__init__.py
  pennylane/qchem/basis_data.py
  pennylane/qchem/basis_set.py
  pennylane/qchem/convert.py
  pennylane/qchem/dipole.py
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/hartree_fock.py
  pennylane/qchem/integrals.py
  pennylane/qchem/matrices.py
  pennylane/qchem/molecule.py
  pennylane/qchem/number.py
  pennylane/qchem/observable_hf.py
  pennylane/qchem/openfermion_obs.py
  pennylane/qchem/structure.py
  pennylane/qchem/tapering.py
  tests/qchem/of_tests/test_observable_of.py
Labels: documentation :blue_book:, qchem :atom_symbol:

#2482 Update chemistry doc
  doc/code/qml_qchem.rst
  doc/introduction/chemistry.rst
  doc/releases/changelog-0.23.0.md
Labels: qchem :atom_symbol:

#2408 Add object `_queue_category` property and use it for sorting in tapes
  doc/releases/changelog-dev.md
  pennylane/measurements.py
  pennylane/operation.py
  pennylane/ops/qubit/state_preparation.py
  pennylane/tape/tape.py
  pennylane/transforms/insert_ops.py
  tests/tape/test_tape.py
Labels: op-arithmetic
