Repository PennyLaneAI/pennylane, pull requests merged in 2023-11, with the labels that each got.

#4772 Jax jit support for shot vectors
  doc/releases/changelog-dev.md
  pennylane/interfaces/jax.py
  pennylane/interfaces/jax_jit.py
  pennylane/tape/qscript.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
Labels: bug :bug:

#4781 Fix the wire order of state prep operations in `default.qubit`
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/simulate.py
  tests/devices/default_qubit/test_default_qubit.py
Labels: bug :bug:

#4787 [BUGFIX] Qubit reuse for terminal measurements on wires with mid-circuit measurements
  doc/releases/changelog-dev.md
  pennylane/transforms/defer_measurements.py
  tests/transforms/test_defer_measurements.py
Labels: bug :bug:

#4786 [Compiler] Use importlib instead of pkg_resources
  pennylane/compiler/compiler.py
Labels: compiler :factory:

#4783 use importlib instead of pkg_resources
  .github/workflows/interface-unit-tests.yml
  doc/code/qml.rst
  pennylane/__init__.py
  pennylane/about.py
  pennylane/drawer/draw.py
  pennylane/io.py
  tests/test_device.py
Labels: ci:run-full-test-suite

#4806 Create VJP perf fix
  .github/workflows/interface-unit-tests.yml
  doc/releases/changelog-0.33.1.md
  pennylane/gradients/vjp.py
  pennylane/math/multi_dispatch.py
  tests/gradients/core/test_vjp.py
  tests/gradients/finite_diff/test_finite_difference.py
Labels: gpu, ci:run-full-test-suite

#4811 ensure the correct interface is returned in expand_state
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/simulate.py
  tests/devices/qubit/test_simulate.py
Labels: bug :bug:

#4847 bump tensorflow to 2.15 in CI
  .github/workflows/interface-unit-tests.yml
  pennylane/math/single_dispatch.py
Labels: ci:run-full-test-suite

#4812 [Compiler] Activate integration tests & Update codecov and docstrings
  pennylane/_grad.py
  pennylane/compiler/__init__.py
  pennylane/compiler/compiler.py
  pennylane/compiler/qjit_api.py
  tests/test_compiler.py
Labels: compiler :factory:

#4741 Add benchmarks CI
  .github/workflows/benchmarks.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/scripts/benchmarks/convert_pytest_JSON_to_XUBM.py
  .github/workflows/scripts/benchmarks/plot_benchmarks.py
  .github/workflows/unit-test.yml
Labels: ci:run-benchmarks

#4692 [Compiler] Integrate with Catalyst Frontend
  doc/code/qml_compiler.rst
  doc/conf.py
  doc/index.rst
  doc/introduction/compiling_circuits.rst
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/_grad.py
  pennylane/compiler/__init__.py
  pennylane/compiler/compiler.py
  pennylane/compiler/qjit_api.py
  tests/test_compiler.py
Labels: compiler :factory:

#4819 [Transform doc] Separate qcut
  doc/code/qml_qcut.rst
  doc/index.rst
  doc/introduction/inspecting_circuits.rst
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/qcut/__init__.py
  pennylane/qcut/_cut_kKaHyPar_sea20.ini
  pennylane/qcut/cutcircuit.py
  pennylane/qcut/cutcircuit_mc.py
  pennylane/qcut/cutstrategy.py
  pennylane/qcut/kahypar.py
  pennylane/qcut/processing.py
  pennylane/qcut/tapes.py
  pennylane/qcut/utils.py
  pennylane/transforms/__init__.py
  pennylane/transforms/qcut/__init__.py
  pennylane/transforms/qcut/qcut.py
  tests/transforms/test_qcut.py
Labels: ci:run-full-test-suite

#4726 [Compiler] Add Catalyst ctrl
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/controlled.py
  tests/test_compiler.py
Labels: compiler :factory:

#4725 [Compiler] Add Catalyst adjoint
  doc/releases/changelog-dev.md
  pennylane/compiler/__init__.py
  pennylane/ops/op_math/adjoint.py
  tests/test_compiler.py
Labels: compiler :factory:

#4698 [Compiler] Add Catalyst control-flow operations
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/compiler/__init__.py
  pennylane/compiler/qjit_api.py
  pennylane/ops/op_math/condition.py
  tests/test_compiler.py
Labels: compiler :factory:
