Repository PennyLaneAI/pennylane, pull requests merged in 2024-01, with the labels that each got.

#4985 Add 3.12 support
  .github/workflows/interface-unit-tests.yml
  doc/releases/changelog-0.34.0.md
  setup.py
  tests/interfaces/test_tensorflow_qnode.py
  tests/ops/op_math/test_composite.py
Labels: gpu, ci:run-full-test-suite

#4979 Add min version for Catalyst to `qml.compiler`
  doc/releases/changelog-0.34.0.md
  pennylane/compiler/compiler.py
  pennylane/compiler/qjit_api.py
  tests/test_compiler.py
Labels: compiler :factory:

#5009 Update compiling_workflows.rst
  doc/introduction/compiling_workflows.rst
Labels: compiler :factory:

#5006 Fix the issue returning a callable in `qml.cond`
  doc/releases/changelog-0.34.0.md
  pennylane/ops/op_math/condition.py
  pennylane/ops/op_math/controlled.py
  tests/test_compiler.py
Labels: compiler :factory:

#5079 bump jax version
  .github/workflows/interface-unit-tests.yml
Labels: ci:run-full-test-suite

#5037 [Bug] `qml.equal` fails with Sum() when wires are strings
  doc/releases/changelog-dev.md
  pennylane/ops/functions/equal.py
  pennylane/ops/op_math/sum.py
  tests/ops/functions/test_commutator.py
  tests/ops/functions/test_equal.py
  tests/ops/op_math/test_sum.py
Labels: bug :bug:
