Repository PennyLaneAI/pennylane, pull requests merged in 2025-08, with the labels that each got.

#7864 xDSL diagonalize_measurements
  pennylane/compiler/python_compiler/transforms/__init__.py
  pennylane/compiler/python_compiler/transforms/diagonalize_measurements.py
  tests/python_compiler/transforms/test_xdsl_diagonalize_measurements.py
Labels: unified compiler

#8044 fix recursion error from power simpliciation
  doc/releases/changelog-dev.md
  pennylane/operation.py
  pennylane/ops/op_math/pow.py
  tests/ops/op_math/test_pow_op.py
Labels: urgent

#8061 [Bug Fix Release] fix recursion error when simplifying operators raised to integer powers
  doc/development/release_notes.md
  doc/releases/changelog-0.42.1.md
  doc/releases/changelog-0.42.2.md
  pennylane/_version.py
  pennylane/operation.py
  pennylane/ops/op_math/pow.py
  tests/ops/op_math/test_pow_op.py
Labels: urgent

#8064 [Bug Fix Release] fix: changelog entry in release notes
  doc/releases/changelog-0.42.2.md
Labels: urgent

#8047 Fix typo in `qml.while_loop` documentation
  pennylane/control_flow/while_loop.py
Labels: documentation :blue_book:

#8049 Add roundtrip testing capability to filecheck fixture
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/jax_utils.py
  tests/python_compiler/conftest.py
  tests/python_compiler/dialects/test_catalyst_dialect.py
  tests/python_compiler/dialects/test_mbqc_dialect.py
  tests/python_compiler/dialects/test_quantum_dialect.py
Labels: unified compiler

#7956 Redefine ApplyRegisteredPass in the Transform dialect
  pennylane/compiler/python_compiler/dialects/__init__.py
  pennylane/compiler/python_compiler/dialects/transform.py
  pennylane/compiler/python_compiler/jax_utils.py
  pennylane/compiler/python_compiler/transforms/api/transform_interpreter.py
  tests/python_compiler/dialects/test_transform_dialect.py
  tests/python_compiler/test_python_compiler.py
Labels: unified compiler

#8111 [Bug Fix Release] add upper bound to `autoray` version requirement in `pyproject.toml`
  doc/development/release_notes.md
  doc/releases/changelog-0.42.2.md
  doc/releases/changelog-0.42.3.md
  pennylane/_version.py
  pyproject.toml
Labels: urgent

#8130 Temporarily xfail lightning test
  tests/ops/op_math/test_exp.py
Labels: urgent

#8036 Extend the StableHLO dialect in the Python Compiler
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/dialects/__init__.py
  pennylane/compiler/python_compiler/dialects/stablehlo.py
  pennylane/compiler/python_compiler/jax_utils.py
Labels: unified compiler

#8134 On-Board pennylane to using new large runner
  .github/workflows/determine-workflow-runner.yml
  .github/workflows/interface-unit-tests.yml
  tests/kernels/test_kernels.py
Labels: ci:run-full-test-suite, urgent

#8108 [Unified Compiler] Support for controlled ops
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/visualization/collector.py
  pennylane/compiler/python_compiler/visualization/xdsl_conversion.py
  tests/python_compiler/visualization/test_draw_catapy.py
Labels: unified compiler

#8143 [Unified Compiler] Supporting more operations and measurements for visualization
  pennylane/compiler/python_compiler/visualization/collector.py
  pennylane/compiler/python_compiler/visualization/xdsl_conversion.py
  tests/python_compiler/visualization/test_draw_catapy.py
Labels: unified compiler
