Repository PennyLaneAI/pennylane, pull requests merged in 2025-07, with the labels that each got.

#7771 Improved decompositions of `SingleExcitation`, `SingleExcitationMinus` and `SingleExcitationPlus`
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/qchem_ops.py
  tests/ops/qubit/test_qchem_ops.py
Labels: merge-ready :heavy_check_mark:

#7835 Fix `validate_norm` overriding `normalize` in `StatePrep`
  doc/releases/changelog-0.42.0.md
  pennylane/ops/qubit/state_preparation.py
  tests/ops/qubit/test_state_prep.py
Labels: merge-ready :heavy_check_mark:

#7851 Seed `test_split_to_single_terms`
  doc/releases/changelog-dev.md
  tests/transforms/test_split_to_single_terms.py
Labels: tests :test_tube:

#7876 New set shots
  doc/releases/changelog-dev.md
  pennylane/workflow/set_shots.py
  tests/test_qnode.py
Labels: enhancement :sparkles:

#7855 chore: deprecate `QNode.add_transform`
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/transforms/add_noise.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/workflow/qnode.py
  tests/test_qnode.py
Labels: deprecation :wastebasket:

#7888 Update Python compiler testing infrastructure
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/__init__.py
  pennylane/compiler/python_compiler/compiler.py
  pennylane/compiler/python_compiler/jax_utils.py
  pennylane/compiler/python_compiler/transforms/api/transform_interpreter.py
  tests/python_compiler/conftest.py
  tests/python_compiler/dialects/test_mbqc_dialect.py
  tests/python_compiler/transforms/test_xdsl_cancel_inverses.py
  tests/python_compiler/transforms/test_xdsl_combine_global_phases.py
  tests/python_compiler/transforms/test_xdsl_measurements_from_samples.py
  tests/python_compiler/transforms/test_xdsl_merge_rotations.py
Labels: python compiler

#7886 Deprecate `level=none` from `construct_batch`/`get_transform_program`
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/drawer/draw.py
  pennylane/resource/specs.py
  pennylane/transforms/tape_expand.py
  pennylane/workflow/construct_batch.py
  tests/noise/test_add_noise.py
  tests/resource/test_specs.py
  tests/transforms/test_tape_expand.py
  tests/workflow/test_construct_batch.py
  tests/workflow/test_construct_tape.py
Labels: deprecation :wastebasket:

#7923 Update xdsl version
  .github/workflows/interface-unit-tests.yml
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/compiler.py
  pennylane/compiler/python_compiler/transforms/api/apply_transform_sequence.py
  pennylane/compiler/python_compiler/transforms/api/transform_interpreter.py
  tests/python_compiler/conftest.py
  tests/python_compiler/test_python_compiler.py
Labels: python compiler

#7927 Removing Observable
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/_deprecated_observable.py
  pennylane/operation.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/observables.py
  pennylane/ops/qutrit/observables.py
  tests/io/qasm_interpreter/test_interpreter.py
  tests/ops/functions/conftest.py
  tests/ops/functions/test_equal.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_linear_combination.py
  tests/ops/op_math/test_pow_op.py
  tests/test_operation.py
Labels: deprecation :wastebasket:

#7919 Allow `set_shots(500)`
  doc/releases/changelog-dev.md
  pennylane/measurements/__init__.py
  pennylane/workflow/set_shots.py
  tests/test_qnode.py
Labels: review-ready :ok_hand:

#7906 Deprecate qnode call `shots=` kwarg
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/optimize/shot_adaptive.py
  pennylane/workflow/qnode.py
  pennylane/workflow/set_shots.py
  tests/devices/default_qubit/test_default_qubit.py
  tests/gradients/core/test_gradient_transform.py
  tests/measurements/test_expval.py
  tests/measurements/test_probs.py
  tests/measurements/test_var.py
  tests/test_debugging.py
  tests/test_qcut.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
  tests/transforms/test_defer_measurements.py
  tests/workflow/interfaces/qnode/test_autograd_qnode.py
  tests/workflow/interfaces/qnode/test_jax_jit_qnode.py
  tests/workflow/interfaces/qnode/test_jax_qnode.py
  tests/workflow/interfaces/qnode/test_tensorflow_autograph_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_tensorflow_qnode.py
  tests/workflow/interfaces/qnode/test_tensorflow_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_torch_qnode.py
Labels: review-ready :ok_hand:

#7957 Use opaque syntax for the measurement-plane attribute of the mbqc dialect
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/dialects/mbqc.py
  tests/python_compiler/dialects/test_mbqc_dialect.py
Labels: python compiler

#7901 Adding the Catalyst dialect to the Python compiler
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/dialects/__init__.py
  pennylane/compiler/python_compiler/dialects/catalyst.py
  pennylane/compiler/python_compiler/jax_utils.py
  tests/python_compiler/dialects/test_catalyst_dialect.py
  tests/python_compiler/dialects/test_mbqc_dialect.py
  tests/python_compiler/dialects/test_quantum_dialect.py
Labels: python compiler

#7920 Added optimal resources for QFT and AQFT
  doc/releases/changelog-dev.md
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
  pennylane/labs/resource_estimation/templates/__init__.py
  pennylane/labs/resource_estimation/templates/subroutines.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_non_parametric_ops.py
  pennylane/labs/tests/resource_estimation/templates/test_subroutines.py
Labels: review-ready :ok_hand:

#7959 Update how submodules are import top-level
  doc/releases/changelog-dev.md
  pennylane/__init__.py
Labels: do not merge :warning:

#7903 Fix legacy device sampling seeding issue
  doc/releases/changelog-dev.md
  tests/default_qubit_legacy.py
  tests/measurements/test_classical_shadow.py
  tests/test_qnode_legacy.py
Labels: tests :test_tube:
